<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= park.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/parks/<%= park._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= park.name %>" name="park[name]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" value="<%= park.price %>" name="park[price]" min="0.0" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= park.image %>" name="park[image]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= park.description %>" name="park[description]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="park[location]" value="<%= park.location %>">
                </div>    
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update</button>
                </div>
            </form>
            <a href="/parks">Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>