<% include ../partials/header %>

<div class="container">
    <div class="row">
        <!-- Side Bar -->
        <div class="col-md-3">
            <p class="lead">YelpPark</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div>
                <iframe
                    title="GoogleMaps"
                    width="100%"
                    height="260"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?q=<%= park.location %>&amp;z=11&amp;output=embed">
                </iframe>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= park.image %>"></img>
                <div class="caption-full">
                    <h4 class="pull-right">$<%= park.price %>/night</h4>
                    <h4><a><%= park.name %></a></h4>
                    <p><%= park.description %></p>
                    <p><em>Submitted By <%= park.author.username %></em></p>
                    <% if (currentUser && park.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/parks/<%= park._id %>/edit">Edit</a>
                        <form id="delete-form" action="/parks/<%= park._id %>?_method=delete" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/parks/<%= park._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% park.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%= comment.text %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-xs btn-warning" 
                                    href="/parks/<%= park._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form id="delete-form" action="/parks/<%= park._id %>/comments/<%= comment._id %>?_method=delete" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>